  <div class="jumbotron">
    <div id="overlay">
      <div class="container">
        <div class="page-header">
        <br>
          <h1>Real News</h1>
          <h2>Ligitimate journalism</h2>
          <h3> Because yes please?</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="pageTwo">
    <div class="row">

      {{#each Article}}
        <div class="col-sm-6 box">
          <ul>
            <li>
              <h4>{{this.title}}</h4>
              <a href="{{this.link}}">{{this.link}}</a>
            </li>
              <form class="create-update-form" action="/articles/{{this._id}}" method="POST">
                <input placeholder="Comment" data-id="{{this._id}}" id="notes" type="text" name="body"></input>
                
                <div class="btn-group-md" role="group" aria-label="...">
                  <button type="submit" data-id="{{this._id}}" action="/articles/{{this._id}}" method="POST" id="savenote" class="btn btn-success">Add Note</button>
                  <button type="submit" data-id="{{this.note}}" action="/delete/{{this.note}}?method=delete" method="DELETE"id="deleteNote" class="btn btn-danger">Delete Note</button>
                </div>
              </form>
          </ul>
        
          <h4 class="center"> Notes </h4>
          <div id="box"> 
            <h5>{{this.note.body}}</h5>
          </div>  
        </div>
      {{/each}} 
        
    </div>
  </div>


